{% extends 'base.html.twig' %}

{% block title %}Créer un nouvel utilisateur{% endblock %}

{% block content %}
    <section class="container mx-auto py-12">
        <h1 class="text-3xl font-bold text-center mb-8">Créer un nouvel utilisateur</h1>

        <div class="bg-white p-6 rounded-lg shadow-md dark:bg-gray-700">
            {{ include('admin/user/_form.html.twig') }}
        </div>

        <div class="text-center mt-6">
            <a href="{{ path('app_user_index') }}" class="py-2 px-4 border transition-all duration-300 border-gray-400 text-gray-600 hover:text-gray-800 font-medium rounded-lg hover:bg-gray-200 focus:ring-2 focus:ring-gray-200 focus:ring-offset-2 dark:border-gray-600 dark:text-gray-300 dark:hover:bg-gray-600 dark:focus:ring-gray-400">
                Retour à la liste
            </a>
        </div>
    </section>
{% endblock %}
