{% extends 'base.html.twig' %}

{% block title %}Nouvelle Tâche
{% endblock %}

{% block content %}
	<section class="container mx-auto py-12">
		<h1 class="text-3xl font-bold text-center mb-8">Créer une nouvelle tâche</h1>

		<div class="bg-white rounded-3xl shadow-md p-8 dark:bg-gray-700">
			{{ include('admin/task/_form.html.twig') }}
		</div>

		<div class="text-center mt-8">
			<a href="{{ path('app_task_index') }}" class="py-2 px-4 rounded-xl text-white bg-blue-500 hover:bg-blue-700 transition-all">
				Retour à la liste
			</a>
		</div>
	</section>
{% endblock %}
