<form method="post" action="{{ path('app_offer_delete', {'id': offer.id}) }}" 
      onsubmit="return confirm('Voulez vous supprimer cet élément ? ');" 
      class="inline-block">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ offer.id) }}">
    <button class="bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-300 dark:focus:ring-red-800">
        Supprimer
    </button>
</form>
