{% extends 'base.html.twig' %}

{% block title %}Email de Réinitialisation de Mot de Passe Envoyé
{% endblock %}

{% block content %}
	<div class="container max-w-2xl bg-white p-6 rounded-lg shadow-md dark:bg-gray-700 mx-auto">
		<p>
			Si un compte correspondant à votre email existe, alors un email vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
														        Ce lien expirera dans
			{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle', 'fr') }}.

		</p>
		<p>Si vous ne recevez pas d'email, veuillez vérifier votre dossier de spam ou
			<a href="{{ path('app_forgot_password_request') }}">réessayez</a>.</p>
	</div>
{% endblock %}
