{% extends 'base.html.twig' %}

{% block content %}
	<section class="container mx-auto py-12">
		<h1 class="text-3xl font-bold text-center mb-8">Nos services</h1>
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
			{% for category in categories %}
				{{ include('ui/category_card.html.twig') }}
			{% else %}
				<p class="text-gray-700 dark:text-white">Aucune offre disponible pour le moment.</p>
			{% endfor %}
		</div>
	</section>
{% endblock %}
