<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}
				DoItTogether
			{% endblock %}
		</title>
		<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
	</head>

	<body class="bg-gray-100 font-sans flex flex-col min-h-screen">

		{% include 'ui/navbar.html.twig' %}

		{% block content %}
			<!-- Content ici -->
		{% endblock %}

		{% include 'ui/footer.html.twig' %}

	</body>

</html>
