<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}DoItTogether
			{% endblock %}
		</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<link
		href="{{ asset('css/app.css') }}" rel="stylesheet">

		<link
		href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
	</head>
	<body class="bg-slate-100 text-gray-900 dark:bg-gray-800 dark:text-white font-inter flex flex-col min-h-screen">
		{% include 'ui/navbar.html.twig' %}

		{% for label, messages in app.flashes %}
			{% set message = messages|last %}
			<div class="flash-{{ label }} rounded-lg p-4 mb-4 
				{% if label == 'success' %}
					bg-green-100 text-green-700 dark:bg-green-800 dark:text-green-200
				{% elseif label == 'error' %}
					bg-red-100 text-red-700 dark:bg-red-800 dark:text-red-200
				{% endif %}">
				{{ message }}
			</div>
		{% endfor %}

		<main class="mb-auto"> {% block content %}{% endblock %}

			<div class="fixed top-4 right-4 z-50">
				<button id="theme-toggle" class="bg-gray-800 text-white p-2 rounded-full">
					ðŸŒ™
				</button>
			</div>

		</main>

		{% include 'ui/footer.html.twig' %}

		<script>
			const themeToggleButton = document.getElementById('theme-toggle');
const html = document.documentElement;
const currentTheme = localStorage.getItem('theme');

if (currentTheme) {
html.classList.add(currentTheme);
}

themeToggleButton ?. addEventListener('click', () => {
if (html.classList.contains('dark')) {
html.classList.remove('dark');
localStorage.setItem('theme', 'light');
themeToggleButton.innerHTML = 'ðŸŒ™';
} else {
html.classList.add('dark');
localStorage.setItem('theme', 'dark');
themeToggleButton.innerHTML = 'â˜€ï¸';
}
});

document.addEventListener('DOMContentLoaded', function () {
document.querySelectorAll('.favorite-btn').forEach(button => {
button.addEventListener('click', function (e) {
e.preventDefault();
const offerId = this.dataset.offerId;
const icon = this.querySelector('svg');

fetch(`/annonces/${offerId}/favorite`, {
method: 'POST',
headers: {
'X-Requested-With': 'XMLHttpRequest'
}
}).then(response => response.json()).then(data => {
if (data.success) {
console.log("Data : ", data);
if (data.isFavorite) {
icon.classList.remove('text-gray-400');
icon.classList.add('text-red-500', 'fill-red-500');
this.dataset.isFavorite = 'true';
} else {
icon.classList.remove('text-red-500', 'fill-red-500');
icon.classList.add('text-gray-400');
this.dataset.isFavorite = 'false';
}
}
}).catch(error => console.error('Error:', error));
});
});
});
		</script>
		{% block scripts %}{% endblock %}
	</body>
</html>
