<!-- Navbar -->
<nav class="bg-blue-600 p-4 mb-20">
	<div class="container mx-auto flex justify-between items-center text-white">
		<a href="{{ path('home') }}" class="text-2xl font-bold">Taskify</a>
		<ul class="flex space-x-6">
			<li>
				<a href="{{ path('home') }}" class="hover:text-gray-300">Accueil</a>
			</li>
			<li>
				<a href="" class="hover:text-gray-300">Offres</a>
			</li>
			<li>
				<a href="" class="hover:text-gray-300">Tâches</a>
			</li>
			<li>
				<a href="{{ path('app_login') }}" class="hover:text-gray-300">Connexion</a>
			</li>
		</ul>
	</div>
</nav>
