<a href={{path('app_offer_details', {'id': offer.id} )}} class="bg-white p-6 rounded-lg shadow-md dark:bg-gray-700 transition-all duration-300 hover:scale-105">
	<img src="https://placehold.co/600x400/png" alt="" class="w-full object-cover rounded-lg">
	<h2 class="text-lg font-semibold dark:text-white mt-2">{{ offer.title }}</h2>
	<p class=" text-gray-700 dark:text-gray-300">{{ offer.description }}</p>
	{# 	<div class="mt-6">
																			<a href="#" class="text-blue-600 hover:underline dark:text-blue-400">Voir les tâches disponibles</a>
																		</div> #}
</a>
