<div class="gap-4 rounded-3xl shadow-md bg-white p-8 mb-8 dark:bg-gray-700">
	<p class="font-bold">{{review.author.username}}</p>
	<p class="text-sm text-gray-500">{{review.createdAt|date('d/m/Y H:i')}}</p>
	<p class="font-normal mt-2">{{review.comment}}</p>
</div>
