{% extends 'base.html.twig' %}

{% block title %}Echec du paiement - DoItTogether{% endblock %}

{% block content %}
    <div class="container max-w-sm mx-auto ">
    <div class="flex flex-col rounded-3xl shadow-md bg-red-100 text-red-900 p-8 mb-8 dark:bg-red-100 max-w-sm mx-auto items-center">
        <h1 class="text-3xl font-bold mb-2">Échec du paiement</h1>
        <p class="font-medium">Nous sommes désolés, mais votre paiement n'a pas pu être traité.</p>
        <p class="font-medium">Veuillez réessayer ou contacter notre support pour obtenir de l'aide.</p>
    </div>
    </div>
{% endblock %}
