{% extends 'base.html.twig' %}

{% block title %}Paiement effectué avec succès - DoItTogether{% endblock %}

{% block content %}
    <div class="container max-w-sm mx-auto ">
    <div class="flex flex-col rounded-3xl shadow-md bg-green-100 text-green-900 p-8 mb-8 dark:bg-green-100 max-w-sm mx-auto items-center">
        <h1 class="text-3xl font-bold mb-2">Paiement effectué avec succès</h1>
        <p class="font-medium">Merci pour votre achat ! Votre paiement a été traité avec succès.</p>
        <p class="font-medium">Vous pouvez suivre votre commande dans votre espace utilisateur.</p>
    </div>
    </div>
{% endblock %}
